@page
@model AboutUsModel
@{
    ViewData["Title"] = "About KhumaloCraft";
}
<div class="about-us">
    <h1>@ViewData["Title"]</h1>

    <p> KhumaloCraft Emporium is a global e‐commerce platform to showcase handcrafted products.</p>

    <p>
        At KhumaloCraft Emporium, we are on a mission to bring the artistry and craftsmanship of
        artisans from around the world to a global audience.
        <br />
        Founded by visionary entrepreneur James Khumalo, our e-commerce platform is a labor of love,
        <br />
        dedicated to showcasing the beauty and uniqueness of handcrafted products.
    </p>

    <div>
        <p>
            At KhumaloCraft Emporium, we strive to make a difference in the lives of artisans and customers alike.
            <br />
            Join us on this journey as we bring the world of handcrafted products to your doorstep.
        </p>
    </div>

</div>
