@page
@model KhumaloCraft.Pages.CreateProduct

@{
    Layout = null;
}
<div class="container mt-5">
    <h1>Add Item</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Name">Item Name:</label>
            <input asp-for="Name" type="text" id="Name" name="Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="description">Category:</label>
            <textarea asp-for="Category" id="description" name="Category" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input asp-for="Price" type="number" id="price" name="Price" step="0.01" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input asp-for="ImageFile" type="file" id="image" name="ImageFile" class="form-control-file"/>
        </div>
        <div class="form-group">
            <label for="availability">Availability:</label>
            <input asp-for="Availability" type="text" id="availability" name="Availability" step="0.01" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Add Item</button>
    </form>
</div>