@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Khumalo Craft</h1>
        <p class="lead text-muted"> Discover the beauty of handmade treasures from artisans around the globe. At KhumaloCraft Emporium, we celebrate craftsmanship, creativity, and culture.</p>
        <p>
            <a asp-page="/AboutUs" class="btn btn-primary my-2">About us</a>
            <a asp-page="/MyWork" class="btn btn-secondary my-2">Our work</a>
        </p>
    </div>
</section>
