@* @page
@model KhumaloCraft.Pages.MyWorkModel 
@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<p>Work handcrafted by artisians</p>


<div class="container">
    <div class="row">
        <div class="row-4">
            <h3>Ceremics</h3>
            <img src="/images/ceremic1.jpg" height="300px" class="rounded  p-3" alt="ceremic vase">
            <img src="/images/ceremic2.jpg" height="300px" class="rounded  p-3" alt="ceremic bowls">
            <img src="/images/ceremic3.jpg" height="300px" class="rounded  p-3" alt="ceremic cups">
        </div>
        <div class="row">
            <div class="row-4">
                <h3>Accessories</h3>
                <img src="/images/accessories1.png" height="300px" class="rounded p-3" alt="...">
                <img src="/images/accessories2.jpg" height="300px" class="rounded p-3" alt="...">
                <img src="/images/accessories3.jpg" height="300px" class="rounded p-3" alt="...">
                <img src="/images/accessories4.jpg" height="300px" class="rounded p-3" alt="...">
            </div>
            <div class="row">
                <div class="col-4">
                    <h3>Furniture</h3>
                    <img src="/images/furniture1.jpeg" height="300px" class="rounded p-3" alt="...">
                </div>
            </div>
        </div> 

 *@
 
@page
@model KhumaloCraft.Pages.MyWorkModel
@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<p>Explore the exquisite handcrafted work of artisans from around the world.</p>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Ceramics</h3>
            <p>Each piece of our ceramic collection is a work of art, meticulously crafted by skilled artisans. From vases to bowls to cups, our ceramics are sure to add beauty and elegance to your home.</p>
            <img src="/images/ceramic1.jpg" height="300px" class="rounded p-3" alt="ceramic vase">
            <img src="/images/ceramic2.jpg" height="300px" class="rounded p-3" alt="ceramic bowls">
            <img src="/images/ceramic3.jpg" height="300px" class="rounded p-3" alt="ceramic cups">
        </div>
        <div class="col-md-4">
            <h3>Accessories</h3>
            <p>Our accessories are designed to complement your style and enhance your look. From handcrafted jewelry to unique bags and scarves, each piece is a testament to the artisan's skill and creativity.</p>
            <img src="/images/accessories1.jpg" height="300px" class="rounded p-3" alt="accessory 1">
            <img src="/images/accessories2.jpg" height="300px" class="rounded p-3" alt="accessory 2">
            <img src="/images/accessories3.jpg" height="300px" class="rounded p-3" alt="accessory 3">
            <img src="/images/accessories4.jpg" height="300px" class="rounded p-3" alt="accessory 4">
        </div>
        <div class="col-md-4">
            <h3>Furniture</h3>
            <p>Our furniture collection combines beauty and functionality, offering you pieces that are both stylish and practical. Each piece is crafted with care and attention to detail, ensuring quality and durability.</p>
            <img src="/images/furniture1.jpg" height="300px" class="rounded p-3" alt="furniture 1">
        </div>
    </div>
</div>