@page
@model KhumaloCraft.Pages.MyWorkModel
@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<p>Work handcrafted by artisians</p>


<div class="container">
    <div class="row">
        <div class="row-4">
            <h3>Ceremics</h3>
            <img src="/images/ceremic1.jpg" height="300px" class="rounded  p-3" alt="ceremic vase">
            <img src="/images/ceremic2.jpg" height="300px" class="rounded  p-3" alt="ceremic bowls">
            <img src="/images/ceremic3.jpg" height="300px" class="rounded  p-3" alt="ceremic cups">
        </div>
        <div class="row">
            <div class="row-4">
                <h3>Accessories</h3>
                <img src="/images/accessories1.png" height="300px" class="rounded p-3" alt="...">
                <img src="/images/accessories2.jpg" height="300px" class="rounded p-3" alt="...">
                <img src="/images/accessories3.jpg" height="300px" class="rounded p-3" alt="...">
                <img src="/images/accessories4.jpg" height="300px" class="rounded p-3" alt="...">
            </div>
            <div class="row">
                <div class="col-4">
                    <h3>Furniture</h3>
                    <img src="/images/furniture1.jpeg" height="300px" class="rounded p-3" alt="...">
                </div>
            </div>
        </div>
